@import "compass/css3";

html, body, #body-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  @include box-sizing(border-box);
}

html {
  font-size: 62.5%;
}

body {
  background: $bodybg;
  font-size: 1.4rem;
  color: #5F5F5F;
  font-family: $fontset;
  font-weight: 300;
  //border: 2px solid red;
}

#body-wrapper {
  //    font-family: 'wowte';
  overflow-y: auto;
  //border: 2px solid blue;
}

a {
  text-decoration: none;
  color: #5a5a5a;
  @include transition(all 200ms ease);
  cursor: pointer;
}

a:hover {
  color: #555;
  text-shadow: 0 0 0;
}

/*
    khanooom hajavi, in model haras kardan html tag dorost nist.
    ina ke reset mikonin az vizhegihaye tag ha hastan ke be kar mian.
    jahayi ke lazem darino ba class handle konin

p, span, strong, b {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*/
.standard {
  width: 122rem !important;
}

.full {
  width: 100%;
}

.clear {
  clear: both;
}

.isellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.hastrans {
  @include transition(all, 0.25s, ease-in-out);
}

*:focus {
  outline: none;
}

/*****************************************tooltips css end *****************************************/
.clrfx:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

* html .clrfx {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clrfx {
  zoom: 1;
}

/* IE7 */

/*--------------- other styles -------------*/
.is-hidden {
  display: none !important;
}

.is-shown {
  display: block !important;
}

.light-txt {
  @include opacity(0.7);
}