/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR : Sky Blue
COLOR CODE: #00A4EF
----------------------------------------- */
/* text-theme-color */
.text-theme-colored {
  color: #00A4EF !important;
}
.widget .twitter-feed li::after {
  color: #00A4EF;
}
/* text-hover-theme-color */
.text-hover-theme-colored:hover {
  color: #00A4EF !important;
}
/* background-theme-color */
.bg-theme-colored {
  background-color: #00A4EF !important;
}
/* bg-hover-theme-color */
.bg-hover-theme-colored:hover {
  background: #00A4EF !important;
  border-color: #00A4EF !important;
  color: #fff !important;
}
.bg-hover-theme-colored:hover h1,
.bg-hover-theme-colored:hover h2,
.bg-hover-theme-colored:hover h3,
.bg-hover-theme-colored:hover h4,
.bg-hover-theme-colored:hover h5,
.bg-hover-theme-colored:hover h6,
.bg-hover-theme-colored:hover p,
.bg-hover-theme-colored:hover a,
.bg-hover-theme-colored:hover i {
  color: #fff !important;
}
.portfolio-filter a.active,
.portfolio-filter a:hover {
  background: #00A4EF;
}
.pagination.theme-colored li.active a {
  background: #00A4EF;
  color: #fff !important;
}
.pagination.theme-colored > li > a,
.pagination.theme-colored > li > span {
  color: #00A4EF !important;
}
/* box-shadow */
.box-shadow,
.icon-box .icon.icon-border-effect::after {
  -webkit-box-shadow: #00A4EF;
  -moz-box-shadow: #00A4EF;
  box-shadow: 0 0 0 3px #00A4EF;
}
.outline-border,
.clients-logo img {
  outline: 2px solid;
  outline-offset: 5px;
}
.outline-border {
  outline-color: #00A4EF;
}
/* border-theme-color */
.border-theme-colored {
  border-color: #00A4EF !important;
}
.border-top-theme-colored {
  border-top: 1px solid #00A4EF !important;
}
.border-bottom-theme-colored {
  border-bottom: 1px solid #00A4EF !important;
}
/* background-color-transparent */
.bg-theme-colored-transparent,
.post .entry-meta.meta-absolute,
.schedule-box .thumb .overlay {
  background-color: rgba(0, 164, 239, 0.8) !important;
}
/*
 * background: theme-color
 * -----------------------------------------------
*/
.sidebar-widget .tags a:hover,
.sidebar .tags a:hover,
.drop-caps .colored-square,
.horizontal-tab-centered .nav-pills > li > a:hover,
.nav-pills > li > a:hover,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.table.table-bordered.class-time td:hover,
.line-bottom::after,
.icon-switcher {
  background: #00A4EF;
}
.stylish-header,
.stylish-header:before {
  background: rgba(0, 164, 239, 0.9);
}
.service-icon-box a {
  background: rgba(0, 164, 239, 0.9);
}
.service-icon-box:hover a {
  background: rgba(0, 164, 239, 0.95);
}
.testimonial.style1 .comment {
  background: rgba(0, 164, 239, 0.85);
}
.tag-sale {
  background-color: #00A4EF;
}
/*
 * text: theme-color
 * -----------------------------------------------
*/
.title,
ul.list li::before,
.post .entry-content .entry-title {
  color: #00A4EF;
}
/*
 * border: theme-color
 * -----------------------------------------------
*/
.clients-logo img {
  border: 1px solid #00A4EF;
}
.lll {
  border: #00A4EF;
}
.border-10px {
  border: 10px solid #00A4EF;
}
/* border-left-color */
blockquote {
  border-left: 3px solid #00A4EF;
}
/* border-top-color */
.stylish-header:after {
  -webkit-border-top: 80px solid #00abf9;
  -moz-border-top: 80px solid #00abf9;
  -ms-border-top: 80px solid #00abf9;
  -o-border-top: 80px solid #00abf9;
  border-top: 80px solid #00abf9;
}
/*
 * btn-default: theme-color
 * -----------------------------------------------
*/
.btn-default.btn-theme-colored {
  color: #00A4EF;
  background-color: #fff;
  border-color: #00A4EF;
}
.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.focus {
  color: #00A4EF;
  background-color: #e6e6e6;
  border-color: #004d70;
}
.btn-default.btn-theme-colored:hover {
  color: #00A4EF;
  background-color: #e6e6e6;
  border-color: #007ab2;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  color: #00A4EF;
  background-color: #e6e6e6;
  border-color: #007ab2;
}
.btn-default.btn-theme-colored:active:hover,
.btn-default.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active:focus,
.btn-default.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored:active.focus,
.btn-default.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-colored.focus {
  color: #00A4EF;
  background-color: #d4d4d4;
  border-color: #004d70;
}
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored.active,
.open > .dropdown-toggle.btn-default.btn-theme-colored {
  background-image: none;
}
.btn-default.btn-theme-colored.disabled:hover,
.btn-default.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored.disabled:focus,
.btn-default.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-colored:focus,
.btn-default.btn-theme-colored.disabled.focus,
.btn-default.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #00A4EF;
}
.btn-default.btn-theme-colored .badge {
  color: #fff;
  background-color: #00A4EF;
}
.btn-default.btn-theme-colored:hover,
.btn-default.btn-theme-colored:active,
.btn-default.btn-theme-colored:focus {
  background-color: #00A4EF;
  border-color: #00A4EF;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-colored {
  color: #00A4EF;
  background-color: #fff;
  border-color: #00A4EF;
}
.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.focus {
  color: #00A4EF;
  background-color: #e6e6e6;
  border-color: #004d70;
}
.btn-border.btn-theme-colored:hover {
  color: #00A4EF;
  background-color: #e6e6e6;
  border-color: #007ab2;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  color: #00A4EF;
  background-color: #e6e6e6;
  border-color: #007ab2;
}
.btn-border.btn-theme-colored:active:hover,
.btn-border.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active:focus,
.btn-border.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored:active.focus,
.btn-border.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-colored.focus {
  color: #00A4EF;
  background-color: #d4d4d4;
  border-color: #004d70;
}
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored.active,
.open > .dropdown-toggle.btn-border.btn-theme-colored {
  background-image: none;
}
.btn-border.btn-theme-colored.disabled:hover,
.btn-border.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored.disabled:focus,
.btn-border.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-colored:focus,
.btn-border.btn-theme-colored.disabled.focus,
.btn-border.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-colored.focus {
  background-color: #fff;
  border-color: #00A4EF;
}
.btn-border.btn-theme-colored .badge {
  color: #fff;
  background-color: #00A4EF;
}
.btn-border.btn-theme-colored:hover,
.btn-border.btn-theme-colored:active,
.btn-border.btn-theme-colored:focus {
  background-color: #0081bc;
  border-color: #0081bc;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #00A4EF;
  border-color: #00A4EF;
}
.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #0081bc;
  border-color: #004d70;
}
.btn-dark.btn-theme-colored:hover {
  color: #fff;
  background-color: #0081bc;
  border-color: #007ab2;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  color: #fff;
  background-color: #0081bc;
  border-color: #007ab2;
}
.btn-dark.btn-theme-colored:active:hover,
.btn-dark.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored:active:focus,
.btn-dark.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored:active.focus,
.btn-dark.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-colored.focus {
  color: #fff;
  background-color: #006998;
  border-color: #004d70;
}
.btn-dark.btn-theme-colored:active,
.btn-dark.btn-theme-colored.active,
.open > .dropdown-toggle.btn-dark.btn-theme-colored {
  background-image: none;
}
.btn-dark.btn-theme-colored.disabled:hover,
.btn-dark.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-colored:hover,
.btn-dark.btn-theme-colored.disabled:focus,
.btn-dark.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-colored:focus,
.btn-dark.btn-theme-colored.disabled.focus,
.btn-dark.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-colored.focus {
  background-color: #00A4EF;
  border-color: #00A4EF;
}
.btn-dark.btn-theme-colored .badge {
  color: #00A4EF;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #23baff;
  border-color: #23baff;
}
.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #00a4ef;
  border-color: #0070a3;
}
.btn-gray.btn-theme-colored:hover {
  color: #fff;
  background-color: #00a4ef;
  border-color: #009de5;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  color: #fff;
  background-color: #00a4ef;
  border-color: #009de5;
}
.btn-gray.btn-theme-colored:active:hover,
.btn-gray.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored:active:focus,
.btn-gray.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored:active.focus,
.btn-gray.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-colored.focus {
  color: #fff;
  background-color: #008ccb;
  border-color: #0070a3;
}
.btn-gray.btn-theme-colored:active,
.btn-gray.btn-theme-colored.active,
.open > .dropdown-toggle.btn-gray.btn-theme-colored {
  background-image: none;
}
.btn-gray.btn-theme-colored.disabled:hover,
.btn-gray.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-colored:hover,
.btn-gray.btn-theme-colored.disabled:focus,
.btn-gray.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-colored:focus,
.btn-gray.btn-theme-colored.disabled.focus,
.btn-gray.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-colored.focus {
  background-color: #23baff;
  border-color: #23baff;
}
.btn-gray.btn-theme-colored .badge {
  color: #23baff;
  background-color: #fff;
}
/*
 * btn-primary: theme-color
 * -----------------------------------------------
*/
.btn-theme-colored {
  color: #fff;
  background-color: #00A4EF;
  border-color: #00A4EF;
}
.btn-theme-colored:focus,
.btn-theme-colored.focus {
  color: #fff;
  background-color: #0081bc;
  border-color: #004d70;
}
.btn-theme-colored:hover {
  color: #fff;
  background-color: #0081bc;
  border-color: #007ab2;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  color: #fff;
  background-color: #0081bc;
  border-color: #007ab2;
}
.btn-theme-colored:active:hover,
.btn-theme-colored.active:hover,
.open > .dropdown-toggle.btn-theme-colored:hover,
.btn-theme-colored:active:focus,
.btn-theme-colored.active:focus,
.open > .dropdown-toggle.btn-theme-colored:focus,
.btn-theme-colored:active.focus,
.btn-theme-colored.active.focus,
.open > .dropdown-toggle.btn-theme-colored.focus {
  color: #fff;
  background-color: #006998;
  border-color: #004d70;
}
.btn-theme-colored:active,
.btn-theme-colored.active,
.open > .dropdown-toggle.btn-theme-colored {
  background-image: none;
}
.btn-theme-colored.disabled:hover,
.btn-theme-colored[disabled]:hover,
fieldset[disabled] .btn-theme-colored:hover,
.btn-theme-colored.disabled:focus,
.btn-theme-colored[disabled]:focus,
fieldset[disabled] .btn-theme-colored:focus,
.btn-theme-colored.disabled.focus,
.btn-theme-colored[disabled].focus,
fieldset[disabled] .btn-theme-colored.focus {
  background-color: #00A4EF;
  border-color: #00A4EF;
}
.btn-theme-colored .badge {
  color: #00A4EF;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-colored {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-colored {
  background-color: #00A4EF;
  border-color: #00A4EF;
}
.btn-transparent.btn-dark.btn-theme-colored:hover {
  background-color: #0081bc;
  border-color: #0081bc;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-colored {
  background-color: transparent;
  border-color: #00A4EF;
}
.btn-transparent.btn-border.btn-theme-colored:hover {
  background-color: #00A4EF;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-colored {
  background-color: #23baff;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-colored:hover {
  background-color: #0081bc;
  color: #e6e6e6;
}
.btn-hover-theme-colored:hover {
  background-color: #00A4EF;
  border-color: #00A4EF;
  color: #fff;
}
/*
 * Shortcode: social-icons Theme Colored
 * -----------------------------------------------
*/
.icon-theme-colored a {
  color: #00A4EF;
}
.icon-theme-colored.icon-bordered a {
  border-color: #00A4EF;
}
.icon-theme-colored.icon-bordered a:hover {
  background-color: #00A4EF;
  color: #fff;
}
.icon-theme-colored.icon-dark a {
  background-color: #00A4EF;
  color: #fff;
}
.icon-theme-colored.icon-dark a:hover {
  background-color: #0081bc;
  color: #e6e6e6;
}
.icon-theme-colored.icon-dark.icon-bordered a {
  border-color: #00A4EF;
  color: #00A4EF;
}
.icon-theme-colored.icon-dark.icon-bordered a:hover {
  background-color: #00A4EF;
  border-color: #00A4EF;
  color: #fff;
}
.icon-theme-colored.icon-gray a {
  color: #00A4EF;
}
.icon-theme-colored.icon-gray a:hover {
  color: #0081bc;
}
.icon-theme-colored.icon-gray.icon-bordered a {
  color: #00A4EF;
}
.icon-theme-colored.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #00A4EF;
}
.icon-theme-colored a:hover {
  color: #0081bc;
}
.icon-hover-theme-colored a:hover {
  background-color: #00A4EF;
  border-color: #00A4EF;
  color: #fff;
}
.social-icons.icon-hover-theme-colored a:hover {
  background-color: #00A4EF;
  border-color: #00A4EF;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-colored .icon {
  color: #00A4EF;
}
.icon-box.iconbox-theme-colored .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #00A4EF;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered {
  border-color: #00A4EF;
}
.icon-box.iconbox-theme-colored .icon.icon-bordered:hover {
  background-color: #00A4EF;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray:hover {
  background-color: #00A4EF;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
  background-color: #00A4EF;
  border-color: #00A4EF;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark {
  background-color: #00A4EF;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #00A4EF;
  color: #00A4EF;
}
.icon-box.iconbox-theme-colored .icon.icon-dark.icon-bordered:hover {
  background-color: #00A4EF;
  border-color: #00A4EF;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white {
  background-color: #fff;
  color: #00A4EF;
}
.icon-box.iconbox-theme-colored .icon.icon-white:hover {
  background-color: #00A4EF;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #00A4EF;
  color: #fff;
}
.icon-box.iconbox-theme-colored .icon.icon-white.icon-bordered:hover {
  background-color: #00A4EF;
  border-color: #00A4EF;
  color: #fff;
}
.icon-box.iconbox-theme-colored.iconbox-border {
  border-color: #00A4EF;
}
