/*

This CSS code is generated from http://ui.sunhater.com
(c)2014 Pavel Tzonkov, sunhater.com. All rights reserved.

*/
/*** jQueryUI */
/** Base */

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}

.ui-helper-clearfix:after {
    clear: both;
}

.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}

.ui-front {
    z-index: 100;
}

.ui-widget .ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-size: 1em;
}

.ui-widget-content {
    border: 1px solid #888;
    background: #fff;
    color: #6B6B6B;
}

.ui-widget-content a {
    color: #6B6B6B;
}

.ui-widget-header {
    border: 1px solid #1b79b8;
    color: #fff;
    font-weight: bold;
    background: #1b79b8;
    background: -webkit-linear-gradient(top, #1b79b8, #59b5f2);
    background: -moz-linear-gradient(top, #1b79b8, #59b5f2);
    background: -ms-linear-gradient(top, #1b79b8, #59b5f2);
    background: -o-linear-gradient(top, #1b79b8, #59b5f2);
    background: linear-gradient(to bottom, #1b79b8, #59b5f2);
}

.ui-widget-header a {
    color: #fff;
}

/* Interaction states
----------------------------------*/

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget.ui-state-disabled {
    transition: .2s;
    border: 1px solid #6b6b6b;
    background: #6b6b6b;
    background: -webkit-linear-gradient(top, #ababab, #6b6b6b);
    background: -moz-linear-gradient(top, #ababab, #6b6b6b);
    background: -ms-linear-gradient(top, #ababab, #6b6b6b);
    background: -o-linear-gradient(top, #ababab, #6b6b6b);
    background: linear-gradient(to bottom, #ababab, #6b6b6b);
    font-weight: bold;
    color: #fff;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    transition: .2s;
    border: 1px solid #6b6b6b;
    background: #6b6b6b;
    background: -webkit-linear-gradient(top, #6b6b6b, #ababab);
    background: -moz-linear-gradient(top, #6b6b6b, #ababab);
    background: -ms-linear-gradient(top, #6b6b6b, #ababab);
    background: -o-linear-gradient(top, #6b6b6b, #ababab);
    background: linear-gradient(to bottom, #6b6b6b, #ababab);
    font-weight: bold;
    color: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-menu .ui-state-focus {
    transition: .2s;
    border: 1px solid #1b79b8;
    background: #1b79b8;
    background: -webkit-linear-gradient(top, #1b79b8, #59b5f2);
    background: -moz-linear-gradient(top, #1b79b8, #59b5f2);
    background: -ms-linear-gradient(top, #1b79b8, #59b5f2);
    background: -o-linear-gradient(top, #1b79b8, #59b5f2);
    background: linear-gradient(to bottom, #1b79b8, #59b5f2);
    font-weight: bold;
    color: #fff;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    transition: .2s;
    color: #fff;
    text-decoration: none;
}

.ui-menu .ui-state-active {
    transition: .2s;
    border-color: #6b6b6b;
    background: #6b6b6b;
    background: -webkit-linear-gradient(top, #6b6b6b, #ababab);
    background: -moz-linear-gradient(top, #6b6b6b, #ababab);
    background: -ms-linear-gradient(top, #6b6b6b, #ababab);
    background: -o-linear-gradient(top, #6b6b6b, #ababab);
    background: linear-gradient(to bottom, #6b6b6b, #ababab);
}

/* Interaction Cues
----------------------------------*/

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #d5bc2c;
    box-shadow: inset 0 0 5px #d5bc2c;
    background: #fff6bf;
    color: #6b6b6b;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #cf7f7f;
    box-shadow: inset 0 0 5px #cf7f7f;
    background: #fac4c4;
    color: #6b6b6b;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a,
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a,
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #6b6b6b;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .5;
    filter: alpha(opacity=50);
    font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .50;
    filter: alpha(opacity=50);
    background-image: none;
}

.ui-state-disabled .ui-icon {
    filter: alpha(opacity=50); /* For IE8 - See #6059 */
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-resizable {
    position: relative;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dotted black;
}

/** Accordion */

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin-top: 2px;
    padding: 6px;
    min-height: 0; /* support: IE7 */
}

.ui-accordion .ui-accordion-icons,
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
    padding-left: 24px;
}

.ui-accordion .ui-accordion-noicons {
    padding-left: 5px;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em;
    border-top: 0;
    overflow: auto;
}

/** Autocomplete */

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

/** Button */

.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible; /* removes extra width in IE */
}

.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
    text-decoration: none;
}

/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
    width: 36px;
}

.ui-button-icons-only {
    width: 50px;
}

/* button text element */
.ui-button .ui-button-text {
    display: block;
    line-height: normal;
}

.ui-button-text-only .ui-button-text {
    padding: 6px 10px;
}

.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
    padding: 6px;
    text-indent: -9999999px;
}

.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
    padding: 6px 10px 6px 28px;
}

.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
    padding: 6px 28px 6px 10px;
}

.ui-button-text-icons .ui-button-text {
    padding-left: 28px;
    padding-right: 28px;
}

/* no icon support for input elements, provide padding by default */
input.ui-button {
    padding: 6px 10px;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
}

.ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
}

.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
    left: 7px;
}

.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
    right: 7px;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/** Button set */

.ui-buttonset {
    margin: 0;
    overflow: auto;
}

.ui-buttonset .ui-button {
    margin: 0;
    float: left;
}

/** Date picker */

.ui-datepicker {
    width: 19em;
    width: 19em;
    display: none;
    padding: 10px;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 2px 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 4px;
    width: 20px;
    height: 20px;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 3px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 4px;
}

.ui-datepicker .ui-datepicker-next {
    right: 4px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 3px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 3px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 10px;
    padding: 4px 0;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: -2px 2px;
    padding: 0;
    outline: 0;
}

.ui-datepicker table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    font-size: 1em;
}

.ui-datepicker th {
    padding: 3px;
    text-align: center;
    font-weight: bold;
    border: 0;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: 2px 3px;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: 10px -11px -11px -11px;
    padding: 10px;
    border: 1px solid #1b79b8;
    background: #e4f5ff;
    overflow: auto;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    cursor: pointer;
    width: auto;
    overflow: visible;
    margin: 0;
    padding: 6px 10px;
    font-weight: bold;
    opacity: 1;
    filter: alpha(opacity=100);
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
    width: auto;
    padding: 10px;
}

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

.ui-datepicker-multi .ui-datepicker-group .ui-datepicker-header {
    margin: 0;
}

.ui-datepicker-multi .ui-datepicker-group.ui-datepicker-group-last {
    margin-right: 0;
}

.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    font-size: 0;
    width: 100px;
}

th.ui-datepicker-week-col {
    color: #215b82;
}

td.ui-datepicker-week-col {
    text-align: right;
    padding-right: 7px;
    color: #215b82;
}

td.ui-datepicker-other-month a.ui-state-default {
    font-weight: bold;
}

th.ui-datepicker-week-end {
    color: #f44;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
    right: 2px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    right: 1px;
    left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-right-width: 0;
    border-left-width: 1px;
}

/** Dialog */

.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    outline: 0;
    box-shadow: 0 0 10px #000;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 5px 10px;
    position: relative;
}

.ui-dialog .ui-dialog-title {
    float: left;
    margin: 0;
    padding: 1px 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 21px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 1em;
    margin: 0 -4px;
    background: none;
    overflow: auto;
}

.ui-dialog .ui-dialog-buttonpane {
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    padding: 10px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: 0 0 0 5px;
    cursor: pointer;
}

.ui-dialog .ui-resizable-se {
    width: 12px;
    height: 12px;
    right: -5px;
    bottom: -5px;
    background-position: 16px 16px;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

/** Menu */

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: 0;
}

.ui-menu .ui-menu {
    margin-top: -3px;
    position: absolute;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
    /* support: IE10, see #8844 */
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}

.ui-menu .ui-menu-divider {
    margin: 1px 10px 1px 10px;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-width: 1px 0 0 0;
    border-color: #bbb;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    line-height: 1.5;
    min-height: 0; /* support: IE7 */
    font-weight: normal;
    border-radius: 0;
}

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
    font-weight: normal;
    margin: -1px;
    transition: none;
}

.ui-menu .ui-state-disabled {
    font-weight: normal;
    line-height: 1.5;
}

.ui-menu .ui-state-disabled a {
    cursor: default;
}

.ui-menu.ui-corner-all.sh-menu {
    border-radius: 4px;
}

.ui-menu.ui-corner-all, .ui-menu.sh-menu.ui-autocomplete.ui-corner-all {
    border-radius: 0;
}

/* icon support */
.ui-menu-icons {
    position: relative;
}

.ui-menu-icons .ui-menu-item a {
    position: relative;
    padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
    position: absolute;
    top: .2em;
    left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
    position: static;
    float: right;
}

/** Progress bar */

.ui-progressbar {
    height: 2.1em;
    text-align: left;
    overflow: hidden;
}

.ui-progressbar .ui-progressbar-value {
    margin: -1px;
    height: 100%;
}

.ui-progressbar .ui-progressbar-overlay {
    height: 100%;
    filter: alpha(opacity=25);
    opacity: 0.25;
}

.ui-progressbar-indeterminate .ui-progressbar-value {
    background-image: none;
}

/** Slider */

.ui-slider {
    position: relative;
    text-align: left;
    margin: 0 13px;
    border-radius: 15px;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    cursor: default;
    box-shadow: 0 0 3px #6b6b6b, inset 0 0 7px #fff, inset 0 0 3px #fff;
}

.ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: 0 0 3px #1b79b8, inset 0 0 7px #fff, inset 0 0 3px #fff;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal {
    height: 10px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -5px;
    margin-left: -9px;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: 10px;
    height: 150px;
}

.ui-slider-vertical .ui-slider-handle {
    left: -5px;
    margin-left: 0;
    margin-bottom: -9px;
}

.ui-slider-vertical .ui-slider-range {
    left: -1px;
    width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

/** Spinner */

.ui-spinner.ui-widget {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    background: #fff;
    background: -webkit-linear-gradient(top, #f0f0f0, #fff);
    background: -moz-linear-gradient(top, #f0f0f0, #fff);
    background: -ms-linear-gradient(top, #f0f0f0, #fff);
    background: -o-linear-gradient(top, #f0f0f0, #fff);
    background: linear-gradient(to bottom, #f0f0f0, #fff);
}

.ui-spinner-input {
    border: none;
    color: inherit;
    padding: 0;
    margin: 6px 24px 6px 10px;
    vertical-align: middle;
    outline: 0;
    background: transparent;
}

.ui-spinner-input {
    color: #6b6b6b
}

.ui-spinner-input:focus {
    color: #000;
}

.ui-spinner-button {
    width: 16px;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: default;
    display: block;
    overflow: hidden;
    right: 0;
}

/* more specificity required here to overide default borders */
.ui-spinner a.ui-spinner-button {
    border-top: none;
    border-bottom: none;
    border-right: none;
}

/* vertical centre icon */
.ui-spinner .ui-icon {
    position: absolute;
    margin-top: -8px;
    top: 50%;
    left: 0;
}

.ui-spinner-up {
    top: 0;
}

.ui-spinner-down {
    bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
    /* need to fix icons sprite */
    background-position: -65px -16px;
}

/** Tabs */

.ui-tabs {
    position: relative; /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 3px 3px 0 3px;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px 3px 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 6px 10px;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
    cursor: text;
}

.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em;
    background: none;
}

/** Tooltip */

body .ui-tooltip {
    padding: 6px 10px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    color: #808080;
    border-color: #a5a5a5;
    box-shadow: inset 0 0 4px #a5a5a5, 0 0 4px #a5a5a5;
    background: -webkit-linear-gradient(top, #ddd, #fff);
    background: -moz-linear-gradient(top, #ddd, #fff);
    background: -ms-linear-gradient(top, #ddd, #fff);
    background: -o-linear-gradient(top, #ddd, #fff);
    background: linear-gradient(to bottom, #ddd, #fff);
}

/** Icons */

/* states and images */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.ui-icon,
.ui-widget-content .ui-icon,
.ui-state-highlight .ui-icon,
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon,
.ui-icon.ui-icon-black {
    background-image: url(img/ui-icons_black.png);
}

.ui-widget-header .ui-icon,
.ui-state-default .ui-icon,
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-state-active .ui-icon,
.ui-icon.ui-icon-white {
    background-image: url(img/ui-icons_white.png);
}

/* positioning */
.ui-icon-blank {
    background-position: 16px 16px;
}

.ui-icon-carat-1-n {
    background-position: 0 0;
}

.ui-icon-carat-1-ne {
    background-position: -16px 0;
}

.ui-icon-carat-1-e {
    background-position: -32px 0;
}

.ui-icon-carat-1-se {
    background-position: -48px 0;
}

.ui-icon-carat-1-s {
    background-position: -64px 0;
}

.ui-icon-carat-1-sw {
    background-position: -80px 0;
}

.ui-icon-carat-1-w {
    background-position: -96px 0;
}

.ui-icon-carat-1-nw {
    background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
    background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
    background-position: -144px 0;
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
    background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
    background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px;
}

.ui-icon-arrow-4 {
    background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px;
}

.ui-icon-extlink {
    background-position: -32px -80px;
}

.ui-icon-newwin {
    background-position: -48px -80px;
}

.ui-icon-refresh {
    background-position: -64px -80px;
}

.ui-icon-shuffle {
    background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px;
}

.ui-icon-folder-open {
    background-position: -16px -96px;
}

.ui-icon-document {
    background-position: -32px -96px;
}

.ui-icon-document-b {
    background-position: -48px -96px;
}

.ui-icon-note {
    background-position: -64px -96px;
}

.ui-icon-mail-closed {
    background-position: -80px -96px;
}

.ui-icon-mail-open {
    background-position: -96px -96px;
}

.ui-icon-suitcase {
    background-position: -112px -96px;
}

.ui-icon-comment {
    background-position: -128px -96px;
}

.ui-icon-person {
    background-position: -144px -96px;
}

.ui-icon-print {
    background-position: -160px -96px;
}

.ui-icon-trash {
    background-position: -176px -96px;
}

.ui-icon-locked {
    background-position: -192px -96px;
}

.ui-icon-unlocked {
    background-position: -208px -96px;
}

.ui-icon-bookmark {
    background-position: -224px -96px;
}

.ui-icon-tag {
    background-position: -240px -96px;
}

.ui-icon-home {
    background-position: 0 -112px;
}

.ui-icon-flag {
    background-position: -16px -112px;
}

.ui-icon-calendar {
    background-position: -32px -112px;
}

.ui-icon-cart {
    background-position: -48px -112px;
}

.ui-icon-pencil {
    background-position: -64px -112px;
}

.ui-icon-clock {
    background-position: -80px -112px;
}

.ui-icon-disk {
    background-position: -96px -112px;
}

.ui-icon-calculator {
    background-position: -112px -112px;
}

.ui-icon-zoomin {
    background-position: -128px -112px;
}

.ui-icon-zoomout {
    background-position: -144px -112px;
}

.ui-icon-search {
    background-position: -160px -112px;
}

.ui-icon-wrench {
    background-position: -176px -112px;
}

.ui-icon-gear {
    background-position: -192px -112px;
}

.ui-icon-heart {
    background-position: -208px -112px;
}

.ui-icon-star {
    background-position: -224px -112px;
}

.ui-icon-link {
    background-position: -240px -112px;
}

.ui-icon-cancel {
    background-position: 0 -128px;
}

.ui-icon-plus {
    background-position: -16px -128px;
}

.ui-icon-plusthick {
    background-position: -32px -128px;
}

.ui-icon-minus {
    background-position: -48px -128px;
}

.ui-icon-minusthick {
    background-position: -64px -128px;
}

.ui-icon-close {
    background-position: -80px -128px;
}

.ui-icon-closethick {
    background-position: -96px -128px;
}

.ui-icon-key {
    background-position: -112px -128px;
}

.ui-icon-lightbulb {
    background-position: -128px -128px;
}

.ui-icon-scissors {
    background-position: -144px -128px;
}

.ui-icon-clipboard {
    background-position: -160px -128px;
}

.ui-icon-copy {
    background-position: -176px -128px;
}

.ui-icon-contact {
    background-position: -192px -128px;
}

.ui-icon-image {
    background-position: -208px -128px;
}

.ui-icon-video {
    background-position: -224px -128px;
}

.ui-icon-script {
    background-position: -240px -128px;
}

.ui-icon-alert {
    background-position: 0 -144px;
}

.ui-icon-info {
    background-position: -16px -144px;
}

.ui-icon-notice {
    background-position: -32px -144px;
}

.ui-icon-help {
    background-position: -48px -144px;
}

.ui-icon-check {
    background-position: -64px -144px;
}

.ui-icon-bullet {
    background-position: -80px -144px;
}

.ui-icon-radio-on {
    background-position: -96px -144px;
}

.ui-icon-radio-off {
    background-position: -112px -144px;
}

.ui-icon-pin-w {
    background-position: -128px -144px;
}

.ui-icon-pin-s {
    background-position: -144px -144px;
}

.ui-icon-play {
    background-position: 0 -160px;
}

.ui-icon-pause {
    background-position: -16px -160px;
}

.ui-icon-seek-next {
    background-position: -32px -160px;
}

.ui-icon-seek-prev {
    background-position: -48px -160px;
}

.ui-icon-seek-end {
    background-position: -64px -160px;
}

.ui-icon-seek-start {
    background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
    background-position: -80px -160px;
}

.ui-icon-stop {
    background-position: -96px -160px;
}

.ui-icon-eject {
    background-position: -112px -160px;
}

.ui-icon-volume-off {
    background-position: -128px -160px;
}

.ui-icon-volume-on {
    background-position: -144px -160px;
}

.ui-icon-power {
    background-position: 0 -176px;
}

.ui-icon-signal-diag {
    background-position: -16px -176px;
}

.ui-icon-signal {
    background-position: -32px -176px;
}

.ui-icon-battery-0 {
    background-position: -48px -176px;
}

.ui-icon-battery-1 {
    background-position: -64px -176px;
}

.ui-icon-battery-2 {
    background-position: -80px -176px;
}

.ui-icon-battery-3 {
    background-position: -96px -176px;
}

.ui-icon-circle-plus {
    background-position: 0 -192px;
}

.ui-icon-circle-minus {
    background-position: -16px -192px;
}

.ui-icon-circle-close {
    background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px;
}

.ui-icon-circle-check {
    background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px;
}

/** Misc */

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl,
.ui-menu .ui-menu-item.ui-menu-item-first a {
    border-top-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr,
.ui-menu .ui-menu-item.ui-menu-item-first a {
    border-top-right-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl,
.ui-menu .ui-menu-item.ui-menu-item-last a,
.ui-dialog-buttonpane,
.ui-datepicker-multi .ui-datepicker-group-first .ui-datepicker-header,
.ui-datepicker .ui-datepicker-buttonpane {
    border-bottom-left-radius: 4px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br,
.ui-menu .ui-menu-item.ui-menu-item-last a,
.ui-dialog-buttonpane,
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker .ui-datepicker-buttonpane {
    border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
    background: rgba(255, 255, 255, .5);
}

.ui-widget-shadow {
    margin: -7px 0 0 -7px;
    padding: 7px;
    background: rgba(0, 0, 0, .3);
    border-radius: 8px;
}

/* SunHater Fixes */

.ui-accordion-content-active, .ui-tabs, .ui-slider-range, .ui-datepicker, .ui-dialog {
    border-color: #1b79b8;
}

.ui-slider .ui-slider-range {
    border: 1px solid #1b79b8;
    top: -1px
}

.ui-progressbar {
    overflow: visible;
}

.ui-progressbar-value {
    border: 1px solid #1b79b8;
    margin-top: -1px
}

.ui-accordion-header,
.ui-tabs-nav,
.ui-button,
.ui-tabs li,
.ui-slider-handle,
.ui-slider-range,
.ui-datepicker-header,
.ui-datepicker-header a:hover,
.ui-datepicker-calendar .ui-state-default,
.ui-progressbar-value,
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-dialog-titlebar,
.ui-dialog-titlebar-close.ui-state-default.ui-state-hover,
.ui-datepicker .ui-datepicker-buttonpane button {
    box-shadow: inset 0 0 7px #fff, inset 0 0 3px #fff;
}

.ui-spinner,
.ui-menu {
    box-shadow: inset 0 0 4px #6b6b6b;
}

.ui-accordion-content,
.ui-tabs,
.ui-dialog-content,
.ui-dialog-buttonpane,
.ui-datepicker,
.ui-datepicker .ui-datepicker-buttonpane {
    box-shadow: inset 0 0 4px #1b79b8;
}

.ui-state-default,
.ui-state-focus,
.ui-state-active,
.ui-widget-header {
    text-shadow: 1px 0 rgba(0, 0, 0, .2),
    -1px 0 rgba(0, 0, 0, .2),
    0 -1px rgba(0, 0, 0, .2),
    0 1px rgba(0, 0, 0, .2),
    1px 1px rgba(0, 0, 0, .2),
    -1px -1px rgba(0, 0, 0, .2),
    1px -1px rgba(0, 0, 0, .2),
    -1px 1px rgba(0, 0, 0, .2);
}

.ui-tabs .ui-state-active,
.ui-datepicker .ui-state-highlight {
    text-shadow: none;
}

.ui-datepicker .ui-state-highlight {
    color: #215b82;
    border-color: #1b79b8;
    box-shadow: inset 0 0 4px #1b79b8;
    background: #fff;
    background: -webkit-linear-gradient(top, #dfeef8, #fff);
    background: -moz-linear-gradient(top, #dfeef8, #fff);
    background: -ms-linear-gradient(top, #dfeef8, #fff);
    background: -o-linear-gradient(top, #dfeef8, #fff);
    background: linear-gradient(to bottom, #dfeef8, #fff);
}

.ui-progressbar, .ui-slider, .ui-menu {
    box-shadow: inset 0 0 4px #6b6b6b;
    background: #fff;
    background: -webkit-linear-gradient(top, #f0f0f0, #fff);
    background: -moz-linear-gradient(top, #f0f0f0, #fff);
    background: -ms-linear-gradient(top, #f0f0f0, #fff);
    background: -o-linear-gradient(top, #f0f0f0, #fff);
    background: linear-gradient(to bottom, #f0f0f0, #fff);
}

.ui-slider, .ui-spinner, .ui-progressbar, .ui-menu {
    border-color: #6b6b6b;
}

.ui-datepicker-calendar .ui-state-default {
    border-radius: 3px;
}

.ui-tabs .ui-tabs-nav {
    margin: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 3px;
}

.ui-tabs-active.ui-state-active {
    background: #fff;
    background: -webkit-linear-gradient(top, #ccc, #ddd, #eee, #fff, #fff, #fff);
    background: -moz-linear-gradient(top, #ccc, #ddd, #eee, #fff, #fff, #fff);
    background: -ms-linear-gradient(top, #ccc, #ddd, #eee, #fff, #fff, #fff);
    background: -o-linear-gradient(top, #ccc, #ddd, #eee, #fff, #fff, #fff);
    background: linear-gradient(to bottom, #ccc, #ddd, #eee, #fff, #fff, #fff);
    box-shadow: inset 0 0 5px #fff, inset 0 0 5px #fff, inset 0 0 5px #fff;
}

.ui-tabs-active.ui-state-active a {
    color: #215b82;
}

.ui-state-default, .ui-state-default a {
    outline: 0;
}

.ui-datepicker-header,
.ui-dialog-titlebar {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin: -5px -5px 0 -5px;
}

.ui-datepicker-header {
    margin: -11px -11px 5px -11px;
}

.ui-datepicker-header a:hover {
    cursor: pointer;
}

.ui-dialog-titlebar-close.ui-state-default {
    border-color: transparent;
    background: none;
    box-shadow: none;
}

.ui-dialog-titlebar-close.ui-state-default.ui-state-hover {
    border-color: #6b6b6b;
    background: #6b6b6b
}

.ui-dialog-buttonpane {
    background: #e4f5ff;
    border-top-color: #1b79b8;
    margin: 0 -4px -4px -4px;
    padding: 0;
}

/*** Uniform */
/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
    -moz-appearance: none;
    -webkit-appearance: none;
}

div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader
span.action,
div.button,
div.button span {
    -webkit-font-smoothing: antialiased;
}

div.selector,
div.checker,
div.button,
div.radio,
div.uploader {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

div.checker span,
div.checker input,
div.radio span,
div.radio input,
div.button span {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    text-align: center;
}

div.selector select,
div.checker input,
div.button button,
div.button input,
div.button a,
div.radio input,
div.uploader input,
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
    outline: 0;
}

div.selector,
div.selector *,
div.radio,
div.radio *,
div.checker,
div.checker *,
div.uploader,
div.uploader *,
div.button,
div.button * {
    margin: 0;
    padding: 0;
}

/* Select */
div.selector {
    padding: 0 1.9em 0 0;
    position: relative;
    overflow: hidden;
    border: 1px solid;
    border-radius: 4px;
}

div.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: 6px 0 6px 10px;
    cursor: pointer;
    width: 100%;
    border-right: 1px solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.selector .ui-icon {
    background: url(img/ui-icons_white.png) -65px -16px;
}

div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    border: 0;
    background: none;
    position: absolute;
    height: 50px;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

/* Checkbox */
div.checker {
    position: relative;
    border: 1px solid;
    padding: 1px;
    border-radius: 4px;
}

div.checker,
div.checker span,
div.checker input {
    width: 15px;
    height: 15px;
}

div.checker span.checked {
    background: url(img/ui-icons_white.png) -64px -145px;
}

div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    border: 0;
    background: none;
    cursor: pointer;
}

/* Radio */
div.radio {
    position: relative;
    border: 1px solid;
    padding: 1px;
    border-radius: 9px;
}

div.radio,
div.radio span,
div.radio input {
    width: 15px;
    height: 15px;
}

div.radio span.checked {
    background: url(img/ui-icons_white.png) -80px -145px;
}

div.radio input {
    opacity: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

/* Upload */
div.uploader {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

div.uploader span.action {
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer;
    padding: 6px 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

div.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    padding: 6px 10px;
    border-right: 1px solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

div.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    border: 0;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: pointer;
    font-size: 100px;
}

div.uploader input::-webkit-file-upload-button {
    cursor: pointer;
}

div.uploader.active span.filename,
div.uploader.focus span.filename {
    border-right: 1px solid;
}

/* Button */
div.button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: 1px solid;
    border-radius: 4px;
}

div.button a,
div.button button,
div.button input {
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 1000px;
    cursor: pointer;
}

div.button span {
    padding: 0;
    margin: 6px 10px;
}

/* Text fields */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
    margin: 0;
    border: 1px solid;
    border-radius: 4px;
}

input.uniform-input,
textarea.uniform {
    padding: 6px 10px;
}

textarea.uniform {
    overflow: auto;
}

select.uniform-multiselect {
    padding: 5px;
}

/** Colorize elements */

div.uploader {
    border: 1px solid #6b6b6b;
}

div.uploader.active,
div.uploader.focus {
    border-color: #1b79b8;
}

/* Default - text fields */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform,
div.uploader span.filename,
div.selector span {
    border-color: #6b6b6b;
    box-shadow: inset 0 0 4px #6b6b6b;
    background: #fff;
    background: -webkit-linear-gradient(top, #f0f0f0, #fff);
    background: -moz-linear-gradient(top, #f0f0f0, #fff);
    background: -ms-linear-gradient(top, #f0f0f0, #fff);
    background: -o-linear-gradient(top, #f0f0f0, #fff);
    background: linear-gradient(to bottom, #f0f0f0, #fff);
    color: #6b6b6b;
}

select.uniform-multiselect option {
    color: #6b6b6b;
}

select.uniform-multiselect.focus option {
    color: #000;
}

/* Focus - text fields */
input.uniform-input.focus,
select.uniform-multiselect.focus,
textarea.uniform.focus,
div.uploader.active span.filename,
div.uploader.focus span.filename,
div.selector.active span,
div.selector.focus span {
    border-color: #1b79b8;
    box-shadow: inset 0 0 4px #1b79b8;
    color: #000;
    background: #fff;
    background: -webkit-linear-gradient(top, #dfeef8, #fff);
    background: -moz-linear-gradient(top, #dfeef8, #fff);
    background: -ms-linear-gradient(top, #dfeef8, #fff);
    background: -o-linear-gradient(top, #dfeef8, #fff);
    background: linear-gradient(to bottom, #dfeef8, #fff);
}

/* Read-only - text fields */
input.uniform-input[readonly],
textarea.uniform[readonly],
input.uniform-input[readonly]:focus,
textarea.uniform[readonly]:focus {
    color: #808080;
    border-color: #a5a5a5;
    box-shadow: inset 0 0 4px #a5a5a5;
    background: -webkit-linear-gradient(top, #ddd, #fff);
    background: -moz-linear-gradient(top, #ddd, #fff);
    background: -ms-linear-gradient(top, #ddd, #fff);
    background: -o-linear-gradient(top, #ddd, #fff);
    background: linear-gradient(to bottom, #ddd, #fff);
}

/* Default - buttons */
div.selector,
div.button,
div.uploader span.action,
div.radio,
div.checker {
    border-color: #6b6b6b;
    background: #6b6b6b;
    background: -webkit-linear-gradient(top, #ababab, #6b6b6b);
    background: -moz-linear-gradient(top, #ababab, #6b6b6b);
    background: -ms-linear-gradient(top, #ababab, #6b6b6b);
    background: -o-linear-gradient(top, #ababab, #6b6b6b);
    background: linear-gradient(to bottom, #ababab, #6b6b6b);
    box-shadow: inset 0 0 7px #fff, inset 0 0 3px #fff;
}

/* Hover - buttons */
div.selector.hover,
div.button.hover,
div.uploader.hover span.action,
div.radio.hover,
div.checker.hover {
    border-color: #6b6b6b;
    background: #6b6b6b;
    background: -webkit-linear-gradient(top, #6b6b6b, #ababab);
    background: -moz-linear-gradient(top, #6b6b6b, #ababab);
    background: -ms-linear-gradient(top, #6b6b6b, #ababab);
    background: -o-linear-gradient(top, #6b6b6b, #ababab);
    background: linear-gradient(to bottom, #6b6b6b, #ababab);
}

/* Focus - buttons */
div.selector.focus,
div.button.focus,
div.uploader.focus span.action,
div.radio.focus,
div.checker.focus {
    border-color: #1b79b8;
    background: #1b79b8;
    background: -webkit-linear-gradient(top, #59b5f2, #1b79b8);
    background: -moz-linear-gradient(top, #59b5f2, #1b79b8);
    background: -ms-linear-gradient(top, #59b5f2, #1b79b8);
    background: -o-linear-gradient(top, #59b5f2, #1b79b8);
    background: linear-gradient(to bottom, #59b5f2, #1b79b8);
}

/* Active - buttons */
div.button.active,
div.button.active.hover,
div.button.focus.hover,
div.uploader.active span.action,
div.uploader.active.hover span.action,
div.uploader.focus.hover span.action,
div.radio.active,
div.radio.active.hover,
div.radio.focus.hover,
div.checker.active,
div.checker.active.hover,
div.checker.focus.hover,
div.selector.active,
div.selector.active.hover {
    border-color: #1b79b8;
    background: #1b79b8;
    background: -webkit-linear-gradient(top, #1b79b8, #59b5f2);
    background: -moz-linear-gradient(top, #1b79b8, #59b5f2);
    background: -ms-linear-gradient(top, #1b79b8, #59b5f2);
    background: -o-linear-gradient(top, #1b79b8, #59b5f2);
    background: linear-gradient(to bottom, #1b79b8, #59b5f2);
}

/* Disabled */
input.uniform-input[disabled],
select.uniform-multiselect[disabled],
textarea.uniform[disabled],
div.button.disabled,
div.uploader.disabled,
div.radio.disabled,
div.checker.disabled,
div.selector.disabled,
div.selector.disabled.active {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: default;
}

div.selector.disabled select,
div.uploader.disabled input,
div.button.disabled input,
div.button.disabled button,
div.button.disabled a,
div.radio.disabled input,
div.checker.disabled input {
    cursor: default;
}

/* Buttons text */
div.button span,
div.uploader span.action {
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 0 rgba(0, 0, 0, .2),
    -1px 0 rgba(0, 0, 0, .2),
    0 -1px rgba(0, 0, 0, .2),
    0 1px rgba(0, 0, 0, .2),
    1px 1px rgba(0, 0, 0, .2),
    -1px -1px rgba(0, 0, 0, .2),
    1px -1px rgba(0, 0, 0, .2),
    -1px 1px rgba(0, 0, 0, .2);
}

/* Placeholder colors */
input.uniform-input::-webkit-input-placeholder,
textarea.uniform::-webkit-input-placeholder {
    color: #ababab;
}

input.uniform-input:-moz-placeholder,
textarea.uniform::-moz-placeholder {
    color: #6b6b6b;
}

input.uniform-input::-moz-placeholder,
textarea.uniform::-moz-placeholder {
    color: #6b6b6b;
}

input.uniform-input:-ms-input-placeholder,
textarea.uniform:-ms-input-placeholder {
    color: #ababab;
}

input.uniform-input:focus::-webkit-input-placeholder,
textarea.uniform:focus::-webkit-input-placeholder {
    color: #59b5f2;
}

input.uniform-input:focus:-moz-placeholder,
textarea.uniform:focus:-moz-placeholder {
    color: #1b79b8;
}

input.uniform-input:focus::-moz-placeholder,
textarea.uniform:focus::-moz-placeholder {
    color: #1b79b8;
}

input.uniform-input:focus:-ms-input-placeholder,
textarea.uniform:focus:-ms-input-placeholder {
    color: #59b5f2;
}

/** sh-uniform elements (a shUniform patch must be applied) */

fieldset.sh-uniform {
    border: 1px solid #6B6B6B;
    box-shadow: inset 0 0 4px #6B6B6B;
    border-radius: 4px;
    background: #fff;
    background: -webkit-linear-gradient(top, #f0f0f0, #fff);
    background: -moz-linear-gradient(top, #f0f0f0, #fff);
    background: -ms-linear-gradient(top, #f0f0f0, #fff);
    background: -o-linear-gradient(top, #f0f0f0, #fff);
    background: linear-gradient(to bottom, #f0f0f0, #fff);
    margin: 0 10px 10px 0;
    padding: 10px;
}

fieldset.sh-uniform legend {
    font-weight: bold;
    color: #6B6B6B;
    text-shadow: 1px 0 rgba(255, 255, 255, .5),
    -1px 0 rgba(255, 255, 255, .5),
    0 -1px rgba(255, 255, 255, .5),
    0 1px rgba(255, 255, 255, .5),
    1px 1px rgba(255, 255, 255, .5),
    -1px -1px rgba(255, 255, 255, .5),
    1px -1px rgba(255, 255, 255, .5),
    -1px 1px rgba(255, 255, 255, .5),
    0 0 5px #fff;
}

label.sh-uniform {
    color: #6b6b6b;
}

/*** shCheckset */

.shcs {
    margin: 0;
}

.shcs > div {
    border: 1px solid;
    border-top: 0;
    padding: 5px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.shcs > input, .shcs > input:focus, .shcs > input:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

.shcs label {
    padding: 2px 5px 2px 2px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #6b6b6b;
}

.shcs > div, .shcs label:hover {
    border-color: #6b6b6b;
    box-shadow: inset 0 0 4px #6b6b6b;
    background: #fff;
    background: -webkit-linear-gradient(top, #f0f0f0, #fff);
    background: -moz-linear-gradient(top, #f0f0f0, #fff);
    background: -ms-linear-gradient(top, #f0f0f0, #fff);
    background: -o-linear-gradient(top, #f0f0f0, #fff);
    background: linear-gradient(to bottom, #f0f0f0, #fff);
}

.shcs label:hover {
    color: #6b6b6b;
    cursor: pointer;
}

.shcs > div.focus, .shcs label.checked {
    border-color: #1b79b8;
    box-shadow: inset 0 0 4px #1b79b8;
    color: #000;
    background: #fff;
    background: -webkit-linear-gradient(top, #dfeef8, #fff);
    background: -moz-linear-gradient(top, #dfeef8, #fff);
    background: -ms-linear-gradient(top, #dfeef8, #fff);
    background: -o-linear-gradient(top, #dfeef8, #fff);
    background: linear-gradient(to bottom, #dfeef8, #fff);
}

.shcs label.checked div.checker {
    border-color: #1b79b8;
    background: #1b79b8;
    background: -webkit-linear-gradient(top, #59b5f2, #1b79b8);
    background: -moz-linear-gradient(top, #59b5f2, #1b79b8);
    background: -ms-linear-gradient(top, #59b5f2, #1b79b8);
    background: -o-linear-gradient(top, #59b5f2, #1b79b8);
    background: linear-gradient(to bottom, #59b5f2, #1b79b8);
}

.shcs label.checked div.checker.hover {
    border-color: #1b79b8;
    background: #1b79b8;
    background: -webkit-linear-gradient(top, #1b79b8, #59b5f2);
    background: -moz-linear-gradient(top, #1b79b8, #59b5f2);
    background: -ms-linear-gradient(top, #1b79b8, #59b5f2);
    background: -o-linear-gradient(top, #1b79b8, #59b5f2);
    background: linear-gradient(to bottom, #1b79b8, #59b5f2);
}

.shcs div.checker.focus {
    border-color: #6b6b6b;
    background: #6b6b6b;
    background: -webkit-linear-gradient(top, #ababab, #6b6b6b);
    background: -moz-linear-gradient(top, #ababab, #6b6b6b);
    background: -ms-linear-gradient(top, #ababab, #6b6b6b);
    background: -o-linear-gradient(top, #ababab, #6b6b6b);
    background: linear-gradient(to bottom, #ababab, #6b6b6b);
    box-shadow: inset 0 0 7px #fff, inset 0 0 3px #fff;
}

.shcs div.checker.focus.hover {
    border-color: #6b6b6b;
    background: #6b6b6b;
    background: -webkit-linear-gradient(top, #6b6b6b, #ababab);
    background: -moz-linear-gradient(top, #6b6b6b, #ababab);
    background: -ms-linear-gradient(top, #6b6b6b, #ababab);
    background: -o-linear-gradient(top, #6b6b6b, #ababab);
    background: linear-gradient(to bottom, #6b6b6b, #ababab);
}

.shcs label > span {
    position: relative;
    margin-left: 5px;
    top: 1px;
}

* {
    font-size: 13px;
}

body {
    background: #e0e0e0;
    color: #6B6B6B;
}

fieldset td {
    white-space: nowrap;
}

#folders {
    margin: 5px 5px 0 5px;
}

#files {
    margin-right: 5px;
}

/* SHARED DECLARATIONS */

#toolbar a:hover,
#toolbar a.hover,
span.current,
span.regular:hover,
span.context,
#clipboard div:hover,
div.file:hover,
#files div.selected,
#files div.selected:hover,
tr.selected > td,
tr.selected:hover > td,
#menu .list div a:hover {
    color: #fff;
    text-shadow: 1px 0 rgba(0, 0, 0, .2),
    -1px 0 rgba(0, 0, 0, .2),
    0 -1px rgba(0, 0, 0, .2),
    0 1px rgba(0, 0, 0, .2),
    1px 1px rgba(0, 0, 0, .2),
    -1px -1px rgba(0, 0, 0, .2),
    1px -1px rgba(0, 0, 0, .2),
    -1px 1px rgba(0, 0, 0, .2);
}

#files,
#folders,
#toolbar a.selected {
    border: 1px solid #6B6B6B;
    box-shadow: inset 0 0 4px #6B6B6B;
    border-radius: 4px;
    background: #fff;
    background: -webkit-linear-gradient(top, #f0f0f0, #fff);
    background: -moz-linear-gradient(top, #f0f0f0, #fff);
    background: -ms-linear-gradient(top, #f0f0f0, #fff);
    background: -o-linear-gradient(top, #f0f0f0, #fff);
    background: linear-gradient(to bottom, #f0f0f0, #fff);
}

/* TOOLBAR */

#toolbar {
    padding: 5px 0;
}

#toolbar a {
    color: #6b6b6b;
    margin-right: 5px;
    border: 1px solid transparent;
    outline: none;
    display: block;
    float: left;
    border-radius: 4px;
    transition: .3s;
    padding: 0;
    background: #E0E0E0;
}

#toolbar a > span {
    padding: 6px 10px 6px 26px;
    diaplay: block;
    float: left;
    background: no-repeat 6px center;
}

#toolbar a:hover,
#toolbar a.hover {
    border-color: #1b79b8;
    background: #1b79b8;
    background: -webkit-linear-gradient(top, #59b5f2, #1b79b8);
    background: -moz-linear-gradient(top, #59b5f2, #1b79b8);
    background: -ms-linear-gradient(top, #59b5f2, #1b79b8);
    background: -o-linear-gradient(top, #59b5f2, #1b79b8);
    background: linear-gradient(to bottom, #59b5f2, #1b79b8);
    box-shadow: inset 0 0 7px #fff, inset 0 0 3px #fff;
}

#toolbar a:hover,
#toolbar a.hover {
    transition: .3s;
}

#toolbar a[href="kcact:upload"] span {
    background-image: url(img/icons/upload.png);
}

#toolbar a[href="kcact:refresh"] span {
    background-image: url(img/icons/refresh.png);
}

#toolbar a[href="kcact:settings"] span {
    background-image: url(img/icons/settings.png);
}

#toolbar a[href="kcact:about"] span {
    background-image: url(img/icons/about.png);
}

#toolbar a[href="kcact:maximize"] span {
    background-image: url(img/icons/maximize.png);
}

/* SETTINGS BAR */

#settings label {
    cursor: pointer;
}

#settings fieldset {
    margin-right: 5px;
    margin-bottom: 6px;
    margin-top: -5px;
    padding: 6px;
}

#settings fieldset:hover {
    border-color: #1b79b8;
    box-shadow: inset 0 0 4px #1b79b8;
    background: #dfeef8;
    background: -webkit-linear-gradient(top, #dfeef8, #fff);
    background: -moz-linear-gradient(top, #dfeef8, #fff);
    background: -ms-linear-gradient(top, #dfeef8, #fff);
    background: -o-linear-gradient(top, #dfeef8, #fff);
    background: linear-gradient(to bottom, #dfeef8, #fff);
}

#settings fieldset:hover legend,
#settings fieldset:hover label {
    color: #215b82;
}

/* FOLDERS */

div.folder {
    padding-top: 2px;
    margin-top: 4px;
    white-space: nowrap;
}

div.folder a {
    text-decoration: none;
    cursor: default;
    outline: none;
    color: #6b6b6b;
}

span.folder {
    padding: 2px 3px 2px 23px;
    outline: none;
    background: no-repeat 3px center;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
}

span.brace {
    width: 16px;
    height: 16px;
    outline: none;
}

span.current {
    transition: .3s;
    background-image: url(img/tree/folder.png);
    background-color: #3b98d6;
    border-color: #3b98d6;
    box-shadow: inset 0 0 7px #fff, inset 0 0 3px #fff;
}

span.regular {
    transition: .3s;
    background-image: url(img/tree/folder.png);
    background-color: transparent;
}

span.regular:hover, span.context, #clipboard div:hover {
    transition: .3s;
    background-color: #c6c6c6;
    border-color: #c6c6c6;
    box-shadow: inset 0 0 7px #fff, inset 0 0 3px #fff;
}

span.opened {
    background-image: url(img/tree/minus.png);
}

span.closed {
    background-image: url(img/tree/plus.png);
}

span.denied {
    background-image: url(img/tree/denied.png);
}

/* FILES */

div.file {
    padding: 4px;
    margin: 3px;
    border: 1px solid transparent;
    border-radius: 4px;
}

div.file:hover {
    border-color: #aaa;
    box-shadow: inset 0 0 7px #fff, inset 0 0 3px #fff;
    background: #c6c6c6;
    background: -webkit-linear-gradient(top, #e7e7e7, #c6c6c6);
    background: -moz-linear-gradient(top, #e7e7e7, #c6c6c6);
    background: -ms-linear-gradient(top, #e7e7e7, #c6c6c6);
    background: -o-linear-gradient(top, #e7e7e7, #c6c6c6);
    background: linear-gradient(to bottom, #e7e7e7, #c6c6c6);
}

div.file .name {
    margin-top: 4px;
    font-weight: bold;
    height: 16px;
    overflow: hidden;
    padding-bottom: 2px;
}

div.file .time {
    font-size: 10px;
}

div.file .size {
    font-size: 10px;
}

#files div.selected,
#files div.selected:hover {
    border-color: #3b98d6;
    background: #3b98d6;
    background: -webkit-linear-gradient(top, #7dc2f2, #3b98d6);
    background: -moz-linear-gradient(top, #7dc2f2, #3b98d6);
    background: -ms-linear-gradient(top, #7dc2f2, #3b98d6);
    background: -o-linear-gradient(top, #7dc2f2, #3b98d6);
    background: linear-gradient(to bottom, #7dc2f2, #3b98d6);
    box-shadow: inset 0 0 7px #fff, inset 0 0 3px #fff;
}

tr.file > td {
    padding: 3px 4px;
}

tr.file:hover > td {
    background-color: #ddebf8;
    transition: none;
}

tr.selected > td,
tr.selected:hover > td {
    transition: .3s;
    background-color: #5b9bda;
}

tr.file td.name {
    background-position: 2px center;
    padding-left: 22px;
}

a.denied {
    color: #666;
    opacity: 0.5;
    filter: alpha(opacity:50);
    cursor: default;
}

a.denied:hover {
    background-color: #e4e3e2;
    border-color: transparent;
    box-shadow: none;
}

/* FILE MENU */

#menu .ui-menu a span {
    background: left center no-repeat;
    padding-left: 20px;
    white-space: nowrap;
}

#menu a[href="kcact:refresh"] span {
    background-image: url(img/icons/refresh.png);
}

#menu a[href="kcact:mkdir"] span {
    background-image: url(img/icons/folder-new.png);
}

#menu a[href="kcact:mvdir"] span, #menu a[href="kcact:mv"] span {
    background-image: url(img/icons/rename.png);
}

#menu a[href="kcact:rmdir"] span, #menu a[href="kcact:rm"] span, #menu a[href="kcact:rmcbd"] span {
    background-image: url(img/icons/delete.png);
}

#menu a[href="kcact:clpbrdadd"] span {
    background-image: url(img/icons/clipboard-add.png);
}

#menu a[href="kcact:pick"] span, #menu a[href="kcact:pick_thumb"] span {
    background-image: url(img/icons/select.png);
}

#menu a[href="kcact:download"] span {
    background-image: url(img/icons/download.png);
}

#menu a[href="kcact:view"] span {
    background-image: url(img/icons/view.png);
}

#menu a[href="kcact:cpcbd"] span {
    background-image: url(img/icons/copy.png);
}

#menu a[href="kcact:mvcbd"] span {
    background-image: url(img/icons/move.png);
}

#menu a[href="kcact:clrcbd"] span {
    background-image: url(img/icons/clipboard-clear.png);
}

/* CLIPBOARD */

#clipboard {
    margin-left: -3px;
    padding: 2px;
}

#clipboard div {
    background: url(img/icons/clipboard.png) no-repeat center center;
    border: 1px solid transparent;
    padding: 2px;
    cursor: pointer;
    border-radius: 4px;
}

#clipboard.selected div, #clipboard.selected div:hover {
    background-color: #3b98d6;
    border-color: #3b98d6;
    box-shadow: inset 0 0 7px #fff, inset 0 0 3px #fff;
}

#menu .list a, #menu .list a.ui-state-focus {
    margin: -1px 0 0 -1px;
    padding: 6px 10px;
    border: 1px solid transparent;
    background: none;
    border-radius: 0;
    text-shadow: none;
    box-shadow: none;
    color: #6b6b6b;
}

#menu .list a.first, #menu .list a.first.ui-state-focus {
    border-radius: 4px 4px 0 0;
}

#menu .list a:hover {
    border-color: #1b79b8;
    background: #1b79b8;
    background: -webkit-linear-gradient(top, #1b79b8, #59b5f2);
    background: -moz-linear-gradient(top, #1b79b8, #59b5f2);
    background: -ms-linear-gradient(top, #1b79b8, #59b5f2);
    background: -o-linear-gradient(top, #1b79b8, #59b5f2);
    background: linear-gradient(to bottom, #1b79b8, #59b5f2);
    box-shadow: inset 0 0 7px #fff, inset 0 0 3px #fff;
}

#menu .list {
    overflow: hidden;
    max-height: 1px;
    margin-bottom: -1px;
    padding-bottom: 1px;
}

#menu li.div-files {
    margin: 0 0 1px 0;
}

/* ABOUT DIALOG */

.about {
    text-align: center;
}

.about div.head {
    font-weight: bold;
    font-size: 12px;
    padding: 3px 0 8px 0;
}

.about div.head a {
    background: url(img/kcf_logo.png) no-repeat left center;
    padding: 0 0 0 27px;
    font-size: 17px;
    outline: none;
}

.about a {
    text-decoration: none;
    color: #0055ff;
}

.about a:hover {
    text-decoration: underline;
}

#checkver {
    margin: 5px 0 10px 0;
}

#loading, #checkver > span.loading {
    background: url(img/loading.gif);
    border: 1px solid #3687e2;
    box-shadow: 0 0 3px #3687e2, inset 0 0 4px #fff, inset 0 0 5px #fff;
    padding: 6px 10px;
    border-radius: 4px;
}

#checkver a {
    font-weight: normal;
    padding: 3px 3px 3px 20px;
    background: url(img/icons/download.png) no-repeat left center;
}

/* IMAGE VIEWER */

.ui-dialog-content.kcfImageViewer {
    background: #000;
    cursor: pointer;
}

.kcfImageViewer .img {
    background: url(img/bg_transparent.png);
}

/* MISC */

#loading {
    margin-right: 5px;
}

#loadingDirs {
    padding: 5px 0 1px 24px;
}

#files.drag {
    background: #ddebf8;
}

/* FIX FIELDSET BORDER RADIUS BUG ON IE */
body.msie fieldset,
body.trident.rv fieldset {
    border-radius: 0;
}