@font-face {
  font-family: "wowte";
  src: url("../fonts/wowte.eot");
  src: url("../fonts/wowte.eot#iefix") format("embedded-opentype"),
  url("../fonts/wowte.woff") format("woff"),
  url("../fonts/wowte.ttf") format("truetype"),
  url("../fonts/wowte.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}